body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.calculadora {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(10, 233, 233, 0.2);
    overflow: hidden;
}

#inputValor {

    padding: 20px;
    font-size: 1.5rem;
    text-align: right;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f159b7;
}
